{% extends "layout.html" %}
{% block content %}



    <div id="content">
        <!-- InstanceBeginEditable name="EditRegion3" -->

        <h2><b>DELUX</b></h2>

        <div class="ui grey inverted segment">
            <p>Our spacious Rooms, Extra Large Beds, Modern ‘Deluxe’ 5 Star facilities that include International Cable
                TV , Hair dryer, Air conditioning to name a few, that the discerning traveller would expect and more. To
                cap it all, the breath taking view of the Indian Ocean awaits you, both day and night.</p>

            <p>Deluxe rooms emphasize understated luxury and romance of the Five Star Hotel in Sri Lanka, The Xcodra.
                Rooms facing the Poolside offer a sensational view.

                The second floor of The hotel Xcodra, Sri Lanka, offers Deluxe rooms with the added comfort of a
                Jacuzzi. The soft lighting compliments the glass paneled Jacuzzi, providing a unique charm and a feeling
                of sensuality.</p>


            <div class="ui divider"></div>





            <div class="ui small right floated image">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux1.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux2.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux3.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux.jpg') }}">
            </div>
            <div class="ui big right floated image">

                <img src="{{ url_for('static', filename='img/rooms/delux5.jpg') }}">

            </div>
            <div class="ui small right floated image">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux1.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux2.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux3.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/delux.jpg') }}">
            </div>

            <h2 class="ui header">Room Facilities</h2>


            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    High Speed Internet
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Wi Fi in all Rooms
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Complimentary Drinking Water
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Daily Housekeeping
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    24-hour room service
                </div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Air conditioning and fan
                </div>
            </div>


        </div>


    </div>


    <!-- InstanceEndEditable -->


    <div id="footer">
        <h3>Contact us</h3>

        <p>Address : No.49,Colombo 1,SriLanka.</p>

        <p>Telephone :0112704280</p>

        <p>Mobile :0719865395</p>

        <p>Email :<a href="mailto:xcodra@gmail.com">xcodra@gmail.com</a></p>
    </div>

{% endblock %}



