{% extends "layout.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
    .mySlides {
        display: none;
    }
</style>
{% block content %}



    <div id="content">
        <!-- InstanceBeginEditable name="EditRegion3" -->

        <h2><b>STANDARD</b></h2>

        <div class="ui grey inverted segment">
            <p>Newly renovated, luxury and spacious rooms facing the Indian ocean with private balcony / Terrace.Privacy
                and a sense of calm are assured.</p>

            <p>When luxury and comfort are on your mind, the Diplomatic Suite gives you an opportunity to spoil yourself
                at sky level with a magnificent view of the Indian Ocean. It has separate living, dining, and working
                areas, as well as an additional guest room and visitor's bathroom.</p>


            <div class="ui divider"></div>





            <div class="ui small right floated image">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard1.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard2.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard3.jpg') }}">
            </div>

            <div class="ui big right floated image">


                <img class="mySlides"
                         src="{{ url_for('static',filename='img/rooms/standard4.jpg') }}"
                id="Image1" style="width:100%">

                <img class="mySlides"
                         src="{{ url_for('static',filename='img/rooms/standard.jpg') }}"
                id="Image1" style="width:100%">

                <img class="mySlides"
                         src="{{ url_for('static',filename='img/rooms/standard1.jpg') }}"
                id="Image1" style="width:100%">

                <img class="mySlides"
                         src="{{ url_for('static',filename='img/rooms/standard2.jpg') }}"
                id="Image1" style="width:100%">

                <img class="mySlides"
                         src="{{ url_for('static',filename='img/rooms/standard3.jpg') }}"
                id="Image1" style="width:100%">

            </div>
            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) {
                        myIndex = 1
                    }
                    x[myIndex - 1].style.display = "block";
                    setTimeout(carousel, 2000); // Change image every 2 seconds
                }
            </script>



            <div class="ui small right floated image">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard1.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard2.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/standard3.jpg') }}">
            </div>


            <h2 class="ui header">Room Facilities</h2>


            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    High Speed Internet
                </div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Wi Fi in all Rooms
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Complimentary Drinking Water
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Daily Housekeeping
                </div>
            </div>
        </div>


    </div>


    <!-- InstanceEndEditable -->


    <div id="footer">
        <h3>Contact us</h3>

        <p>Address : No.49,Colombo 1,SriLanka.</p>

        <p>Telephone :0112704280</p>

        <p>Mobile :0719865395</p>

        <p>Email :<a href="mailto:xcodra@gmail.com">xcodra@gmail.com</a></p>
    </div>

{% endblock %}



