{% extends "layout.html" %}
{% block content %}



    <div id="content">
        <!-- InstanceBeginEditable name="EditRegion3" -->

        <h2><b>SUPERIOR</b></h2>

        <div class="ui grey inverted segment">
            <p>Indulge in the warmth and luxury of spacious rooms at Xcodra. Each with a private terrace or balcony and
                memorable views of the Indian Ocean.</p>

            <p>Superior rooms emphasize understated luxury and romance of the Five Star Hotel in Sri Lanka, The Xcodra.
                Rooms facing the Poolside offer a sensational view.</p>

            <p>The second floor of The Xcodra hotel, Sri Lanka, offers Superior rooms with the added comfort of a
                Jacuzzi. The soft lighting compliments the glass paneled Jacuzzi, providing a unique charm and a feeling
                of sensuality.</p>


            <div class="ui divider"></div>


            <div class="ui small right floated image">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior1.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior2.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior3.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior4.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior5.jpg') }}">
            </div>

            <div class="ui big right floated image">

                <img src="{{ url_for('static', filename='img/rooms/superior.jpg') }}">

            </div>
             <div class="ui small right floated image">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior1.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior2.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior3.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior4.jpg') }}">
                <img class="ui image" src="{{ url_for('static', filename='img/rooms/superior5.jpg') }}">
            </div>


            <h2 class="ui header">Room Facilities</h2>


            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Double bed/Twin
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Private balcony facing the ocean
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    High Speed Internet/ Wi-Fi access
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Fan/ Central air conditioning
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    32” TV with Satellite Channels/ DVD player
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Telephone and IDD facilities
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Tea, coffee making facilities & Mini Bar
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Jacuzzi and Shower Cubicle
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Hair dryer, Bathrobes, bathroom slippers
                </div>
            </div>

            <div class="item">
                <i class="checkmark icon"></i>

                <div class="content">
                    Personal safe
                </div>
            </div>


        </div>


    </div>


    <!-- InstanceEndEditable -->


    <div id="footer">
        <h3>Contact us</h3>

        <p>Address : No.49,Colombo 1,SriLanka.</p>

        <p>Telephone :0112704280</p>

        <p>Mobile :0719865395</p>

        <p>Email :<a href="mailto:xcodra@gmail.com">xcodra@gmail.com</a></p>
    </div>

{% endblock %}



