{% extends "layout.html" %}

{% block content %}

	<div class="ui form-user center raised very padded text container segment">
		<form class="ui form" action="/facility/addFacility" method="post" enctype=multipart/form-data>
			<h4 class="ui dividing header">Add facility Details</h4>
            {{ m.render_field(form.id) }}
	    	{{ m.render_field(form.facility) }}
	    	{{ m.render_field(form.description) }}
		  	{{ form.csrf_token }}
            <button class="ui primary button" type="submit">Submit</button>
		</form>
	</div>

{% endblock %}