{% extends "layout.html" %}
{% block content %}



    <div id="content">
        <!-- InstanceBeginEditable name="EditRegion3" -->

        <h1>Facilities </h1>


      <div class="ui segment">

            <div id="facilities" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/facilities/2.jpg') }}">
            </div>
            <p><b><font size="10">{{ facilities[1].facility }}</font> </b><br><br>
                {{ facilities[1].description }}</p>
        </div>


        <!-- InstanceEndEditable -->
    </div>

    <div id="footer">
        <h3>Contact us</h3>

        <p>Address : No.49,Colombo 1,SriLanka.</p>

        <p>Telephone :0112704280</p>

        <p>Mobile :0719865395</p>

        <p>Email :<a href="mailto:xcodra@gmail.com">xcodra@gmail.com</a></p>
    </div>
{% endblock %}



