{% extends "layout.html" %}

{% block content %}

    <div class="grey column">

        <img class="ui fluid image" src="{{ url_for('static', filename='img/download.jpg') }}"
             id="Image1"
             onMouseOver="MM_swapImage('Image1','','/img/banner_bg.jpg',1)" onMouseOut="MM_swapImgRestore()">
    </div>


    <div id="content">
    <!-- InstanceBeginEditable name="EditRegion3" -->

    <h1><i class="gift icon"></i>Offers</h1>
    <div class="ui inverted segment">

        <div class="ui segment">

            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/1.jpg') }}">
            </div>
            <p><b><i class="gift icon"></i>{{ offers[0].title }}</b>
                <br><br>
                {{ offers[0].description }}</p>
            <br><br><br>



            <div class="ui three column very relaxed grid">
  <div class="column">
      <button class="ui inverted red button">Book Now</button>
      <button class="ui inverted red button">Find Out More</button>

  </div>
  <div class="ui vertical divider">

  </div>
  <div class="column">
    <div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,048
  </a>
</div>
  </div>
                </div>




        </div>

        <div class="ui segment">

            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/2.jpg') }}">
            </div>

            <p><b><i class="gift icon"></i>{{ offers[1].title }}</b>
                <br><br>
                {{ offers[1].description }}</p>
            <br><br><br>
                        <div class="ui three column very relaxed grid">
  <div class="column">
      <button class="ui inverted red button">Book Now</button>
      <button class="ui inverted red button">Find Out More</button>

  </div>
  <div class="ui vertical divider">

  </div>
  <div class="column">
    <div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    948
  </a>
</div>
  </div>
                </div>
        </div>


        <div class="ui segment">

            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/3.jpg') }}">
            </div>

            <p><b><i class="gift icon"></i>{{ offers[2].title }}</b>
                <br><br>
                {{ offers[2].description }}</p>
            <br><br><br>
                        <div class="ui three column very relaxed grid">
  <div class="column">
      <button class="ui inverted red button">Book Now</button>
      <button class="ui inverted red button">Find Out More</button>

  </div>
  <div class="ui vertical divider">

  </div>
  <div class="column">
    <div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,588
  </a>
</div>
  </div>
                </div>
        </div>


        <div class="ui segment">


            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/4.jpg') }}">
            </div>

            <p><b><i class="gift icon"></i>{{ offers[3].title }}</b>
                <br><br>
                {{ offers[3].description }}</p>
            <br><br><br>
                       <div class="ui three column very relaxed grid">
  <div class="column">
      <button class="ui inverted red button">Book Now</button>
      <button class="ui inverted red button">Find Out More</button>

  </div>
  <div class="ui vertical divider">

  </div>
  <div class="column">
    <div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    2,048
  </a>
</div>
  </div>
                </div>
        </div>


    </div>

    <!-- InstanceEndEditable -->



    <div id="footer">
        <h3>Contact us</h3>

        <p>Address : No.49,Colombo 1,SriLanka.</p>

        <p>Telephone :0112704280</p>

        <p>Mobile :0719865395</p>

        <p>Email :<a href="mailto:xcodra@gmail.com">xcodra@gmail.com</a></p>
    </div>
</div>

{% endblock %}
