{% extends "layout.html" %}

{% block content %}

    <div id="content">
        <!-- InstanceBeginEditable name="EditRegion3" -->

        <h1>Offers</h1>
        <div>

        <!-- InstanceEndEditable -->
        <div class="ui segment">

            <div id="offers" class="ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/1.jpg') }}">
            </div>
            <p> <b>{{ offers[0].title }}</b>
                    <br><br>
                    {{ offers[0].description }}</p>
            <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp<button class="ui inverted red button">Book Now</button><button class="ui inverted red button">Find Out More</button>

        </div>

         <div class="ui segment">

            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/2.jpg') }}">
            </div>
            <p> <b>{{ offers[1].title }}</b>
                    <br><br>
                    {{ offers[1].description }}</p>
             <br><br><br><button class="ui inverted red button">Book Now</button><button class="ui inverted red button">Find Out More</button>
        </div>


         <div class="ui segment">

            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/3.jpg') }}">
            </div>
            <p> <b>{{ offers[2].title }}</b>
                    <br><br>
                    {{ offers[2].description }}</p>
             <br><br><br><button class="ui inverted red button">Book Now</button><button class="ui inverted red button">Find Out More</button>
        </div>


         <div class="ui segment">

            <div id="offers" class=" ui medium images">
                <img class="ui left floated medium rounded bordered image "
                     src="{{ url_for('static', filename='img/offers/4.jpg') }}">
            </div>
            <p> <b>{{ offers[3].title }}</b>
                    <br><br>
                    {{ offers[3].description }}</p>
             <br><br><br><button class="ui inverted red button">Book Now</button><button class="ui inverted red button">Find Out More</button>
        </div>
</div>
        <!-- InstanceEndEditable -->

</div>

{% endblock %}